<ng-container *ngIf="race">
  <div class="detail-header-wrapper">
    <h1>
      {{ race.name }}
    </h1>
    <p class="detail-header-info">{{ race.isPublic ? 'Public' : 'Private' }}</p>
    <ng-container *ngIf="race.mainOrganizerId !== userId">
      <ng-container *ngIf="signedInfo != null">
        <p class="detail-header-info">{{ RaceUserStatus[signedInfo.status] }}</p>
      </ng-container>
    </ng-container>
  </div>
  <div class="detail-wrapper">
    <div class="detail-text-wrapper">
      <label>Date</label>
      <p>{{ race.date | date }}</p>
    </div>
    <div class="detail-text-wrapper">
      <label>Sign up until</label>
      <p>{{ race.signUpUntil | date }}</p>
    </div>
    <div class="detail-text-wrapper">
      <label>Location</label>
      <p>{{ race.location }}</p>
    </div>
    <div class="detail-text-wrapper">
      <label>Description</label>
      <p>{{ race.description }}</p>
    </div>
    <div class="detail-button-wrapper">
      <ng-container *ngIf="canDoChanges">
        <button mat-flat-button color="primary" (click)="updateRaceDetail()">Update race detail</button>
      </ng-container>
      <ng-container *ngIf="race.mainOrganizerId !== userId && isOpenForRegistration">
        <ng-container *ngIf="signedInfo == null; else signed">
          <button mat-flat-button color="primary" (click)="signUpForRace()">Sign up for race</button>
        </ng-container>
        <ng-template #signed>
          <button mat-flat-button color="primary" (click)="cancelRegistration()">Cancel registration</button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-container>
