<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <div class="dialog-template">
    <ng-container *ngFor="let field of fields">
      <ng-container *ngIf="field.type === DialogFieldType.STRING || field.type === DialogFieldType.NUMBER">
        <div class="field-wrapper">
          <mat-form-field>
            <mat-label>{{field?.title}}</mat-label>
            <input type="{{field?.type}}" matInput [value]="field.value">
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type === DialogFieldType.ENUM">
        <div class="field-wrapper">
          <mat-form-field>
            <mat-label>{{field?.title}}</mat-label>
            <mat-select>
              <ng-container *ngFor="let e of field.enum">
                <mat-option [value]="e.value">{{e.title}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="field.type == DialogFieldType.DATE">
        <div class="datepicker-wrapper">
          <mat-form-field>
            <mat-label>{{field?.title}}</mat-label>
            <input matInput [matDatepicker]="datepicker" [value]="field.value">
            <mat-hint>DD.MM.YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button mat-button mat-flat-button color="primary" (click)="onSubmitButtonClick()">Submit</button>
</mat-dialog-actions>
