<div class="toolbar">
  <div class="toolbar-wrapper">
    <div class="toolbar-left">
      <button mat-icon-button (click)="redirectToIndex()">
        <i class="fa-solid fa-house"></i>
      </button>
    </div>
    <div class="toolbar-right">
      <ng-container *ngIf="authenticated; else loginLink">
        <button mat-icon-button (click)="redirectToUser()">
          <i class="fa-solid fa-user"></i>
        </button>
        <button mat-icon-button (click)="redirectToLogout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </ng-container>
      <ng-template #loginLink>
        <button mat-icon-button (click)="redirectToLogin()">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
      </ng-template>
    </div>
  </div>
</div>
