<div class="toolbar">
  <div class="toolbar-wrapper">
    <!-- Navigacia -->
    <div class="toolbar-left">
      <ng-container *ngIf="authenticated">
        <button mat-icon-button (click)="redirectToHome()">
          <i class="fa-solid fa-house"></i>
        </button>
        <button mat-icon-button (click)="redirectToUsers()">
          <i class="fa-solid fa-users"></i>
        </button>
        <button mat-icon-button (click)="redirectToRaces()">
          <i class="fa-solid fa-flag-checkered"></i>
        </button>
        <button mat-icon-button (click)="redirectToShips()">
          <i class="fa-solid fa-sailboat"></i>
        </button>
      </ng-container>
    </div>

    <!-- Nazov, log-in a log-out -->
    <div class="toolbar-right">
      <p>IS Regatta</p>
      <ng-container *ngIf="authenticated; else loginLink">
        <button mat-icon-button (click)="redirectToLogout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </ng-container>
      <ng-template #loginLink>
        <button mat-icon-button (click)="redirectToLogin()">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
      </ng-template>
    </div>
  </div>
</div>
