.table-component-wrapper {
  position: relative;
  height: 100%;
}

.table-search-wrapper {
  position: absolute;
  display: table-cell;
  top: 0;
  height: 75px;
  width: 100%;
}

.search-button {
  position: absolute;
  transform: scale(0.85);
  bottom: 5px;
  right: 5px;
  width: 100px;
}

mat-form-field {
  padding-left: 5px;
  height: 56px;
}

.table-pager-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 56px;
  overflow: auto
}

table {
  height: 100%;
  width: 100%;
  overflow:auto;
  top: 0;
  bottom: 0;
}

.table-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 18px;
  width: 100%;
  background-color: white;
}

.table-header-column {
  top: 0;
  height: 18px;
  background-color: white;
  padding: 0;
}

.table-data-container {
  top: 18px;
  bottom: 56px;
  z-index: 2;
  min-height: 0;
  width: 100%;
}

.table-buttons a {
  padding-left: 10px;
}

.table-pager-container {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: white;
}

.table-total-items {
  height: 28px;
  line-height: 28px;
  text-align: right;
  padding-right: 10px;
}

.odd-row {
  background-color: rgba(0, 0, 0, 0.20);
}

.even-row {
  background-color: rgba(0, 0, 0, 0.10);
}
