.table-component-wrapper {
  position: relative;
  height: 100%;
}

.table-search-wrapper {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
}

.search-button {
  position: absolute;
  transform: scale(0.85);
  bottom: 15px;
  right: 5px;
  width: 100px;
}

mat-form-field {
  padding-left: 5px;
  height: 56px;
}

.table-pager-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 56px;
  overflow: auto
}

table {
  height: 100%;
  width: 100%;
  overflow:auto;
  top: 0;
  bottom: 0;
}

.table-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 18px;
  width: 100%;
  background-color: white;
}

.table-header-column {
  top: 0;
  height: 18px;
  background-color: white;
  padding: 0;
}

.table-data-container {
  top: 18px;
  bottom: 56px;
  z-index: 2;
  min-height: 0;
  width: 100%;
}

.table-buttons a {
  padding-left: 10px;
}

.table-pager-container {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: white;
}

.table-total-items {
  height: 28px;
  line-height: 28px;
  text-align: right;
  padding-right: 10px;
}

.table-total-items p {
  margin-top: 14px;
  margin-bottom: 14px;
}

.table-row {
  width: 100%;
  height: 50px;
}

.pager-numbers-navigation {
  display: none;
}

.odd-row {
  background-color: rgba(0, 0, 0, 0.20);
}

.even-row {
  background-color: rgba(0, 0, 0, 0.10);
}

.total-items-long {
  display: none;
}

.total-items-medium {
  display: none;
}

.total-items-short {
}

@media only screen and (min-width: 312px) {
  .total-items-medium {
    display: block;
  }

  .total-items-short {
    display: none;
  }
}

@media only screen and (min-width: 355px) {
  .total-items-long {
    display: block;
  }

  .total-items-medium {
    display: none;
  }
}

@media only screen and (min-width: 560px) {
  .pager-numbers-navigation {
    display: inline-block;
  }
}

@media only screen and (min-width: 750px) and (min-height: 450px) {
  .table-search-wrapper {
    display: table-cell;
    height: 75px;
  }
}

@media only screen and (max-width: 749px) {
  .table-pager-wrapper {
    top: 0 !important;
  }
}

@media only screen and (max-height: 449px) {
  .table-pager-wrapper {
    top: 0 !important;
  }
}

@media only screen and (max-width: 775px) {
  .table-pager-container mat-form-field {
    display: none;
  }
}
