<div class="register-page-wrapper">
  <div>
    <h1>Register Page</h1>
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input [type]="visible" matInput formControlName="password" (keyup.enter)="onSubmit()">
          <button type="button" mat-icon-button matSuffix (click)="onIconClicked()">
            <i class="{{icon}}"></i>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button type="button" mat-flat-button color="primary" (click)="onSubmit()">Register</button>
      </div>
    </form>
  </div>
</div>
