<div style="height: 100%;">
  <h1>User Management</h1>
  <div class="table-wrapper">
    <app-table [serviceName]="'user-table'" (onButtonClick)="buttonClicked($event)">
      <app-table-search [title]="'Username'" [column]="'username'"></app-table-search>
      <app-table-search [title]="'Name'" [column]="'name'"></app-table-search>
      <app-table-search [title]="'Email'" [column]="'email'"></app-table-search>

      <app-table-column [title]="'Id'" [field]="'id'" [width]="50"></app-table-column>
      <app-table-column [title]="'Username'" [field]="'username'"></app-table-column>
      <app-table-column [title]="'Name'" [field]="'fullName'"></app-table-column>
      <app-table-column [title]="'Email'" [field]="'email'"></app-table-column>
      <app-table-column [field]="Action.RedirectToDetail" [icon]="'fas fa-angle-right'" [isButton]="true"></app-table-column>
      <app-table-column [field]="Action.EditUser" [icon]="'far fa-edit'" [isButton]="true"></app-table-column>
      <app-table-column [field]="Action.ChangePermissions" [icon]="'fas fa-user-cog'" [isButton]="true"></app-table-column>
    </app-table>
  </div>
</div>
