<ng-container *ngIf="user">
  <div>
    User {{ user.username }}
  </div>
  <div>
    <p>Username: {{ user.username }}</p>
    <p>E-mail: {{ user.email }}</p>
    <p>Name: {{ user.fullName }}</p>
    <div>
      <button mat-flat-button color="primary" (click)="updateUser()">Update user info</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="userRoles">
<div *ngFor="let role of userRoles">
  <p>{{ role.role }}</p>
</div>
</ng-container>
<div *ngIf="isActiveAdmin">
  <button mat-flat-button color="primary" (click)="updateRoles()">Update user roles</button>
</div>
